.arrow.next,.arrow.prev {
  border: none;
  outline-style: none;
  background-color: transparent;
  color: #00A8E8;
  position: absolute;
  top: 15%;
  padding: 0;
  cursor: pointer;
  position: absolute;
  width: auto;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.6s ease;
}

.arrow.next {
  right: 6%;
}

.arrow.prev {
  left: 6%;
}

.arrow.next:hover,.arrow.prev:hover {
  color: RGB(62, 73, 91);
}

/* Updates for larger devices */

@media screen and (min-width: 568px) {
  .arrow.next,.arrow.prev {
    font-size: 2rem;
  }
}