@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

nav {
  color: #00A8E8;
  font-size: .8rem;
  background: RGB(62, 73, 91);
}

nav a {
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
  color: #00A8E8;
  letter-spacing: 2px;
}

nav a:visited {
  color: #00A8E8;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

.navbar-brand {
  font-family: 'Zeyada', cursive;
  font-size: 2.2em;
  padding-bottom: 0%;
}

@media screen and (min-width: 800px) {
  nav {
    font-size: 1.1rem;
  }

  .navbar-brand {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1440px) {
  nav {
    font-size: 1.3rem;
    max-height: 90px;
  }
}