/* mobile first design */

.Projects {
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: .95rem;
  letter-spacing: .5px;
  padding-bottom: 35px;
}

.heading-title {
  color: RGB(242, 112, 89);
  font-weight: bold;
  padding-top: .3rem;
  padding-bottom: 2%;
  letter-spacing: 2px;
  font-size: 1.1rem;
  text-align: center;
}

/* Updates for larger devices */

@media screen and (min-width: 768px) and (orientation: portrait), (min-width: 1024px) {
  .Projects {
    font-size: 1.1rem;
  }
  .heading-title {
    font-size: 1.5rem;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait), (min-width: 1024px) and (min-height: 800px) {
  .heading-title {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 1680px) {
  .Projects {
    font-size: calc(.5vw + .5vh + .5vmin);
  }

  .heading-title {
    padding-top: 2.5rem;
  }
}